body{
    background-image: url(bgp1.jpg);
}
.logow{
    width: 400px;
    height: 400px;
    position: relative;
    left: 790px;

}
.rep{
    width: 100px;
    height: 100px;
    position: relative;
    left: 530px;
    top: 60px;
}
.lc1 {
    font-size: 70px;
    font-family:Impact;
    position: relative;
    top: 100px;
    text-align: center;
    left: 30px;
    
}
.l1 {
    font-size: 30px;
    font-family: sans-serif;
    position: relative;
    top: 180px;
    text-align: center;
    left: 20px;
}
.l2{
    font-size: 30px;
    font-family: sans-serif;
    position: relative;
    top: 200px;
    text-align: center;
    left: 20px;
}
.start{
    border-radius: 30px;
    background-color: rgb(192, 192, 39);
    color: rgb(8, 8, 8);   
    position: relative;
    top: 250px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 60px;
    display: inline-block;
}
.s--p:hover{
    background-color: rgb(99, 99, 22);
}
