.logow{
    width: 100px;
    height: 100px;
    position: relative;
    top: -1020px;
    left: 900px;

}
.cleric{
    width: 800px;
    position: relative;
    left: 440px;
    top: -120px;
}
.l1 {
    font-size: 100px;
    font-family: Impact;
    color: black;
    text-align: center;
    position: relative;
    bottom: 450px;
}
.l2{
    font-size: 60px;
    color: black;
    text-align: center;
    position: relative;
    bottom: 390px;
}
.l3{
    font-size: 100px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 140px;
}
body{
    background-image: url(bgp1.jpg);
}
.jp {
    border-radius: 30px;
    background-color: rgb(241, 239, 241);
    color: rgb(14, 13, 13);   
    position: relative;
    top: -60px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 70px;
    font-family: Verdana;
    display: inline-block;
}
.jp--p:hover{
    background-color: rgb(136, 132, 135);
}