.logow {
    width: 100px;
    position: relative;
    top: -1000px;
    left: 100px;
}
.wizp {
    width: 800px;
    position: relative;
    top: -120px;
    left: 530px;
}
.l1 {
    font-size: 100px;
    font-family: Impact;
    color: black;
    text-align: center;
    position: relative;
    bottom: 400px;
}
.l2{
    font-size: 100px;
    color: black;
    text-align: center;
    position: relative;
    bottom: 370px;
}
.l3{
    font-size: 100px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 150px;
}
body{
    background-color: rgb(185, 125, 185);
}
.con{
    border-radius: 30px;
    background-color: rgb(192, 39, 172);
    color: rgb(250, 249, 249);   
    position: relative;
    top: -60px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 70px;
    display: inline-block;
}
.con--p:hover{
    background-color: rgb(143, 33, 119);
}
